<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/entrena_ipn"
        android:label="@string/EntrenaIPN"
        android:roundIcon="@mipmap/entrena_ipn"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivaESCOM">

        <!-- ✅ Login es la pantalla inicial -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"        android:exported="false" />
        <activity android:name=".ProgresoActivity"    android:exported="false" />
        <activity android:name=".CarreraActivity"     android:exported="false" />
        <activity android:name=".NuevoEntrenamientoActivity" android:exported="false" />
        <activity android:name=".ConfigActivity"      android:exported="false" />
        <activity android:name=".RegistroActivity"      android:exported="false" />
        <activity android:name=".PerfilActivity"         android:exported="false" />
        <activity android:name=".EditarPerfilActivity"   android:exported="false" />
        <activity android:name=".PrivacidadActivity"    android:exported="false" />
        <activity android:name=".TerminosActivity"    android:exported="false" />
        <activity android:name=".ContactoActivity" android:exported="false" />
        <activity android:name=".YogaActivity" android:exported="false" />
        <activity android:name=".NatacionActivity" android:exported="false" />
        <activity android:name=".BicicletaActivity" android:exported="false" />
        <activity android:name=".FuerzaActivity" android:exported="false" />
        <activity android:name=".CaminataActivity" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>